<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>空への愚痴を共有しようか。</h1>
    <h2>{{page_title}}</h2>
    <a href="{% url 'SoraGuchiApp:post_insert' %}"><h3>新規投稿</h3></a>
    <table>
        <tr>
            <th>data</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.content}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>



