{% extends 'pages/base.html' %}

{% block content %}
{% load static %}
<p class="text-4xl text-center text-white mt-10">投稿更新</p>
<div class="max-w-2xl mx-auto px-6 py-10 bg-white shadow-lg rounded-lg border border-[#b2ebf2] mt-10">
    <form action="{% url 'SoraGuchiApp:post_update' id=post.id %}" method="post" class="mt-6 space-y-4">
        {% csrf_token %}
        {{ update_form.as_p }}
        <button type="submit" class="w-full bg-[#00acc1] text-white py-2 rounded-md text-lg font-semibold hover:opacity-80 transition">
            更新
        </button>
    </form>

    <form method="post" action="{% url 'SoraGuchiApp:post_delete' id=id %}" id="deletePostConfirm" class="mt-6">
        {% csrf_token %}
        <button type="button" onclick="deletePost()" class="w-full bg-[#d32f2f] text-white py-2 rounded-md text-lg font-semibold hover:opacity-80 transition">
            投稿を削除する
        </button>
        <div id="saveResult"></div>
    </form>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
